* {
	box-sizing: border-box;
    margin: 0px;
    color: #DDDDDD;
}

body {
    background-color: #212121;
    /* background-color: #121212; */
}

.header--container {
    background-color: #121212;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}



.upload--container {
    background-color: #121212;
    border-radius: 25px;
    padding: 20px;

}