* {
	box-sizing: border-box;
	margin: 0px;
	color: #303030;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #f7ede2;
}

/**** HEADER ****/
.header--container {
	background-color: #303030;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.header--container h1 {
    color:whitesmoke;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 2.5rem;
}

/**** UPLOAD ****/
.upload--container {
	background-color: #FFD68A;
	border-radius: 25px;
	padding: 20px;
	border: solid 3px #84a59d;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 5% 0px 5%;
}

/**** DROPBOX ****/
.upload-field {
	background-color: #FFB52E;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px dashed #1475cf;
	border-radius: 10px;
	height: 300px;
	width: 80%;
}

.upload-icon {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
    ;
}

.upload-field p {
	font-weight: 800;
	font-size: 1.25rem;
	margin-bottom: 20px;
}

.upload-or-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.upload-or-container hr {
	border: 1px solid #303030;
	width: 100px;
	margin: 0px 10px 20px 10px;
}

.upload-or-container p {
	font-size: 1rem;
	font-weight: 600;
}

.upload-button {
	cursor: pointer;
	color: #faf9f6;
	background-color: #FF5349;
	border-style: none;
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
    font-size: 1rem;
	font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
	margin-bottom: 20px;
}

.upload-button:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(0.95);
}

/**** FILES ****/
.files--container {
    /* background-color: #f8858b; */
    background-color: #77dd77;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    max-width: 80%;
}

.file-upload-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.text-file-icon {
	height: 50px;
}

.file-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.close-icon {
	height: 25px;
    cursor: pointer;
    border-radius: 25%;
}

.close-icon:hover {
    border-radius: 25%;
    background-color: #fc2e20;
    opacity: 100%;
}